doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    a(href='/Simarpreet') Simarpreet 
    a(href='/Mom') Indermohini 
    a(href='/Dad') Gurucharan 
    a(href='/Brother') Manveer

  body
    block content